body
{
    font-family: 'Pacifico', cursive;
    background :turquoise;
}

.header_div
{
    background: limegreen;
    color: red;
}

.header_div p
{
    font-family: 'Pacifico', cursive;
    color: slategray;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button
{
    font-family: 'Pacifico', cursive;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer
{
    position: fixed;
    color: turquoise;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: coral;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
}